<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-button (click)="setActiveSection('companias')">Compañías</ion-button>
    <ion-button (click)="setActiveSection('proyectos')">Proyectos</ion-button>
    <ion-button (click)="setActiveSection('tikets')">Tíquets</ion-button>
    <ion-button (click)="setActiveSection('usuarios')">Usuarios</ion-button>
  </div>

  <div>
    <ng-container *ngIf="activeSection === 'companias'">
      <h2>Compañías</h2>
      <ion-card *ngFor="let comp of companies">
        <ion-card-header>
          <ion-card-title>{{ comp.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          NIT: {{ comp.nit }} <br />
          Teléfono: {{ comp.telefono }} <br />
          Dirección: {{ comp.direccion }} <br />
          Correo: {{ comp.correo }}
        </ion-card-content>
        <ion-button (click)="getComp(comp)">Añadir proyecto</ion-button>
      </ion-card>
    </ng-container>
    
    <ion-card *ngIf="selectedCompany" id="crearProyecto">
      <ion-card-header>Agregar Proyecto</ion-card-header>
      <ion-card-content>
        <label for="company">Nombre del proyecto</label>
        <input type="text" id="company" placeholder="Ingrese el nombre del proyecto" [(ngModel)]="nameNewProyect" required>
    
        <label for="companyName">Compañía seleccionada</label>
        <input type="text" id="companyName" [value]="selectedCompany.nombre" readonly>
    
      </ion-card-content>
      <ion-button (click)="postProyect()">Añadir proyecto</ion-button>
      <ion-button (click)="closeWindowComp()">cerrar ventana</ion-button>
    </ion-card>
    
    <ng-container *ngIf="activeSection === 'proyectos'">
      <h2>Proyectos</h2>
      <ion-card *ngFor="let proj of projects">
        <ion-card-header>
          <ion-card-title>{{ proj.titulo }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Empresa FK: {{ proj.empresaFK }}
        </ion-card-content>
        <ion-button (click)="getProj(proj)">Agregar ticket</ion-button>
      </ion-card>
    </ng-container>

    <ion-card *ngIf="selectedProject" id="crearTicket">
      <ion-card-header>Agregar ticket</ion-card-header>
      <ion-card-content>
    
        <label>Nombre del proyecto</label>
        <div>{{ selectedProject.titulo }}</div>  <!-- Muestra el nombre del proyecto seleccionado -->
    
        <label for="desc">Descripción del ticket</label>
        <textarea id="desc" [(ngModel)]="ticketDesc" placeholder="Ingrese la descripción del ticket" required></textarea>
      
        <label for="usuario">Seleccionar Usuario</label>
        <ion-select [(ngModel)]="selectedUserId" placeholder="Seleccione un usuario" name="usuario" required>
          <ion-select-option *ngFor="let user of users" [value]="user.idUser">
            {{ user.nombre }}
          </ion-select-option>
        </ion-select>
    
        <ion-button (click)="postTicket()">Agregar ticket</ion-button>
        <ion-button (click)="closeWindowProyect()">cerrar ventana</ion-button>
      </ion-card-content>
    </ion-card>

    <ng-container *ngIf="activeSection === 'tikets'">
      <h2>Tíquets</h2>
      <ion-card *ngFor="let ticket of tickets">
        <ion-card-header>
          <ion-card-title>ID: {{ ticket.idTicket }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Descripción: {{ ticket.desc }} <br />
          Proyecto FK: {{ ticket.proyectoFK }} <br />
          Usuario FK: {{ ticket.usuarioFK }} <br />
          Estado: {{ ticket.estado }} 
        </ion-card-content>
        <ion-button (click)="getTicket(ticket, 'addComent')">Add coment</ion-button>
        <ion-button (click)="getTicket(ticket, 'changeDesc')">Change desc</ion-button>
        <ion-button (click)="getTicket(ticket, 'changeStatus')">Change status</ion-button>
      </ion-card>
    </ng-container>
    
    <ion-card *ngIf="selectedTicket && ticketWindow === 'addComent'">
      <ion-card-header>Add comment</ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Comentario</ion-label>
          <ion-input [(ngModel)]="ticketComentarios" placeholder="Ingrese un comentario" required></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button (click)="postComentTicket()">Add Comment</ion-button>
      <ion-button (click)="closeWindowTicket()">Cerrar ventana</ion-button>
    </ion-card>
    
    <ion-card *ngIf="selectedTicket && ticketWindow === 'changeDesc'">
      <ion-card-header>Change descripcion</ion-card-header>
      <ion-card-content>
        <label for="desc">Descripción del ticket</label>
        <textarea id="desc" [(ngModel)]="ticketDesc" placeholder="Ingrese la descripción del ticket" required></textarea>
      </ion-card-content>
      <ion-button (click)="putDescTicket()">Change descripcion</ion-button>
      <ion-button (click)="closeWindowTicket()">Cerrar ventana</ion-button>
    </ion-card>
    
    <ion-card *ngIf="selectedTicket && ticketWindow === 'changeStatus'">
      <ion-card-header>Change status</ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Estado</ion-label>
          <ion-select [(ngModel)]="ticketStatus" placeholder="Seleccione un estado" required>
            <ion-select-option value="Activado">Activado</ion-select-option>
            <ion-select-option value="En Proceso">En proceso</ion-select-option>
            <ion-select-option value="Finalizado">Finalizado</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-card-content>
      <ion-button (click)="putStatusTicket()">Change status</ion-button>
      <ion-button (click)="closeWindowTicket()">Cerrar ventana</ion-button>

    </ion-card>    

    <ng-container *ngIf="activeSection === 'usuarios'">
      <h2>Usuarios</h2>
      <ion-card *ngFor="let user of users">
        <ion-card-header>
          <ion-card-title>Nombre: {{ user.nombre }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Correo: {{ user.correo }} <br />
        </ion-card-content>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
