<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blank</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <div class="card">
      <h2>Welcome to the Project Tracking App</h2>
      <p>Please use the navigation menu to access different pages.</p>
      <nav>
        <ul>
          <!-- Usa 'routerLink' en lugar de 'href' para la navegación en Angular -->
          <li><a (click)="goLogin()">Inicio de sesión</a></li>
          <li><a (click)="goCreateUser()">Crear Cuenta</a></li>
          <li><a (click)="goCreateCompany()">Asociar empresa</a></li>
        </ul>
      </nav>
    </div>
  </main>
</ion-content>
